@import "../styles/base/responsiveMixin.scss";

.test {
  width: 400px;
  height: 400px;
  background-color: yellow;
  //   text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
